[Fastbreak_Called_Parameters]
CalledTransSize=1000

[Fastbreak_QA_Parameters]
TileWindow=1000
TransRange1=50
TransRange2=1000
OutlierDistance=500000

[Fastbreak_Output_Parameters]
ReportOrientationAndDistance=1
GenerateFastQ=0
ReportMappingMetrics=1
DoReadGroups=0
SaveSkippedInfo=0
ResultsRelativePath=/titan/cancerregulome2/synthetic_cancer/findtrans_out/cancer_type/runlabel
